<p id="notice"><%= notice %></p>

<p>
  <strong>January:</strong>
  <%= @event.january %>
</p>

<p>
  <strong>February:</strong>
  <%= @event.february %>
</p>

<p>
  <strong>March:</strong>
  <%= @event.march %>
</p>

<p>
  <strong>April:</strong>
  <%= @event.april %>
</p>

<p>
  <strong>May:</strong>
  <%= @event.may %>
</p>

<p>
  <strong>June:</strong>
  <%= @event.june %>
</p>

<p>
  <strong>July:</strong>
  <%= @event.july %>
</p>

<p>
  <strong>August:</strong>
  <%= @event.august %>
</p>

<p>
  <strong>September:</strong>
  <%= @event.september %>
</p>

<p>
  <strong>October:</strong>
  <%= @event.october %>
</p>

<p>
  <strong>November:</strong>
  <%= @event.november %>
</p>

<p>
  <strong>December:</strong>
  <%= @event.december %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
