<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>Todo</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'vendor/modernizr', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

<%= render 'layouts/nav_contact'%>
     
       
     
      <div class="row">
     
         
        <div class="large-9 columns">
     
          <h3>¡Contacta con nosotros!</h3>
          <p>Nos encantaría saber de ti. Puedes contactar con todo nuestro equipo y alguno de nuestros miembros te contestará.</p>
     
          <div class="section-container tabs" data-section>
            <section class="section">
              <h5 class="title"><a href="#panel1">Contacta con nosotros</a></h5>
              <div class="content" data-slug="panel1">
                <form>
                  <div class="row collapse">
                    <div class="large-2 columns">
                      <label class="inline">Tu nombre</label>
                    </div>
                    <div class="large-10 columns">
                      <input type="text" id="yourName" placeholder="Ana Espinar">
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="large-2 columns">
                      <label class="inline"> Tu email</label>
                    </div>
                    <div class="large-10 columns">
                      <input type="text" id="yourEmail" placeholder="anaesru@hotmail.com">
                    </div>
                  </div>
                  <label>¿Qué ocurre?</label>
                  <textarea rows="4"></textarea>
                  <button type="submit" class="radius button">Submit</button>
                </form>
              </div>
            </section>
            <section class="section">
              <h5 class="title"><a href="#panel2">Specific Person</a></h5>
              <div class="content" data-slug="panel2">
                <ul class="large-block-grid-5">
                  <li><a href="/cdn-cgi/l/email-protection#deb3bfb29eadbbacbbb0b7aaa7f0bcbdf0acbbbc"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/1168753_365533883604424_525954342_a.jpg">Blanca Martinez</a></li>
                  <li><a href="/cdn-cgi/l/email-protection#403a2f2500332532252e2934396e22236e322522"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/005/099/3b9/3e8a5f1.jpg">Carlos Martin</a></li>
                  <li><a href="/cdn-cgi/l/email-protection#e48e859d8a81a4978196818a8d909dca8687ca968186"><img src="https://i.vimeocdn.com/portrait/9243868_600x600.jpg">Ana Espinar</a></li>
               
              </div>
            </section>
          </div>
        </div>
     
         
     
     
         
     
     
        <div class="large-3 columns">
          <h5>Map</h5>
           
          <p>
            <a href="" data-reveal-id="mapModal"><img src="http://gestioncultura.cervantes.es/COMUNES/31560_I_ceu.jpg"></a><br/>
            <a href="" data-reveal-id="mapModal">View Map</a>
          </p>
          <p>
            Calle Julián Romea, <br/>
            18, 28003 Madrid
          </p>
        </div>
         
      </div>
     
       
     
     
       
     
<%= render 'layouts/footer_contact'%>
       
     
     
     
       
     
      <div class="reveal-modal" id="mapModal">
        <h4>Where We Are</h4>
        <p><img src="http://placehold.it/800x600"/></p>
     
         
        <a href="#" class="close-reveal-modal">×</a>
      </div>
    





 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>