    <!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>Todo</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'vendor/modernizr', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>

 <%= render 'layouts/nav_contact'%>
</head>
<body>

      <div class="row">
        <div class="large-12 columns">
     
         
          <div class="row">
            <div class="large-12 columns">
     
               
            </div>
          </div>
     
          <div class="row">
                        <div class="large-4 small-12 columns">
     
              <img src="https://pbs.twimg.com/profile_images/471913312972963840/QtyDx1mi.jpeg">
     
              <div class="hide-for-small panel">
                <h3>Header</h3>
                <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
                </h5>
              </div>
     
              <a href="#">
       
              </a>
     
            </div>
            
               <%= yield %>
          </div>
          <%= render 'layouts/footer_contact'%>
     
        </div>
      </div>

 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>